:root {
    --bg-color: #0d0c0d;
    --dark-black: #080708;
    --grey: #242424;
    --pink: #c80a48;
    --white: #fff;
    --light-grey: #a1a1a1;
  }

body, h1, h2, ul {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.hljs {
    background: var(--dark-black) !important;
}

header {
    text-align: center;
    background-color: var(--bg-color);
    color: #c0c4d6;
    padding: 20px 0;
}

footer {
    background-color: var(--grey);
}

.container {
    max-width: 1040px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}

main {
    background-color: var(--bg-color);
    padding-bottom: 20px;
}

.navbar {
    background-color: var(--grey);
    border-bottom: 1px solid var(--grey);
    opacity: .98;
}

.navbar-collapse {
    display: flex;
    justify-content: center;
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height:70px;
}
.nav-item {
    padding: 0 20px;
}
.nav-link {
    font-size: 16px;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--pink);
}

.navbar-header-mobile {
    display: none;
}


@media (max-width: 768px) {
    header{
        padding: 0;
    }
    .collapse:not(.show) {
        display: none;
    }
    
    .navbar-header-mobile {
        display: flex;
    }
    .navbar-nav {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        flex-wrap: initial;
        width: 100%;
        height: fit-content;
        align-items: start;
        background: var(--grey);
        border-top: 1px solid rgba(255,255,255,.15);
    }
    .nav-item {
        padding: 10px 10px;
    }

    .navbar-header-mobile {
        display: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 60px;
    }
    .navbar-toggler {
        color: rgba(255,255,255,.5);
        cursor: pointer;
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: transparent;
        border: 1px solid transparent;
        border-color: rgba(255,255,255,.3)!important;
        border-radius: .25rem;
    }
     .navbar-toggler-icon {
        background-image: url(/img/menu.svg);
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
    }
}

.about {
    display: flex;
    justify-content: center;
}

.about .bio {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .title {
    margin-bottom: 20px;
    text-align: center;
    color: var(--white);
    font-size: 30px;
    font-weight: 600;
}

.about .content {
    color: #c0c4d6;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
}

.about img {
    border: 2px solid var(--pink);
    max-height: 360px;
}

.details {
    border-left: 2px solid #ccc;
    padding-left: 15px;
    color: #666;
    margin-left: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.details li {
    padding: 10px 5px;
    position: relative;
    font-size: 15.5px;
    color: #c0c4d6;
}

.details li:before {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: -21px;
    background-color: var(--pink);
}

.details li span {
    font-weight: 600;
    text-transform: uppercase;
    color: var(--white);
}

@media (max-width: 768px) {
    .about {
        flex-wrap: wrap;
    }
}

.resume {
    background-color: var(--bg-color);
}

.resume#languages {
    background-color: var(--grey);
}

.skill-box {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    
}
.skill-item {
    width:33%;
    height: 200px;
    border-color: #363636;
}
.skill-inner {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.skill-inner .title {
    margin-bottom: 10px;
    color: var(--white);
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
}
.skill-inner .content {
    color: var(--light-grey);
}

@media (max-width: 768px) {
    .skill-item {
        width: 100%;
        height: initial;
    }
}

.border-bottom {
    border-bottom-style: dashed !important;
    border-bottom: 1px dashed var(--light-grey); 
}
.border-left {
    border-left: 1px solid #363636;
}
.border-right {
    border-right: 1px solid #070707;
}
.bg-gray-dark {
    background-color: var(--dark-black);
}
.pink-line {
    display: inline-block;
    background-color:  var(--pink);
    width: 70px;
    height: 4px;
}

section h2.h1 {
    color: var(--white);
    text-align: center;
}

section h2 {
    font-size: 40px;
    text-transform: uppercase;
    margin: 0px 0 40px;
    font-weight: bold;
    padding: 0 10px 10px;
    position: relative;
}

section h2.h1 span.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--pink);
}

section h2.h1 span.underline span {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: calc(50% - 9px);
    background-color: var(--pink);
}

section h2.h1 span.underline span.r-square {
    right: 0px;
}

section h2.h1 span.underline span.l-square {
    left: 0px;
}

.resume-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    color: white;
}

.footer-logo {
    display: inline-block;
    width: 70px;
}

.footer-logo img {
    max-width: 200px;
}
